{% extends 'base.html' %} 
{% block title %}404 Упс, страница не найдена{% endblock %}
{% block content %}

<section class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-7 my-5">
      <h1 class="mb-5">Было ошибкой заходить сюда...</h1>
      <p>Сылка не обнаружена.</p>
      <p>
        <a href="{{ url_for('add_short_link_view') }}>Вернуться на главную</a>
      </p>
    </div>
    <div class="col-12 col-lg-5">
      <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.png') }}" alt="" />
    </div>
  </div>
</section>

{% endblock %} 